/**
 * Skip to main Navigation Component
 */

.c-skiplink {
  background-color: color(black);
  color: color(white) !important;
  font-weight: 700;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: -100%;
  transition: all linear 0.25s;

  @include myBreakpoints(md) {
    display: inline-block;
    height: 0.1rem;
    left: -1000rem;
    position: absolute;
    top: auto;
    width: 0.1rem;
  }

  &:not(:focus):not(:active) {
    @include myBreakpoints(md) {
      top: -6rem;
    }
  }

  &:focus,
  &:active,
  &.is-focused {
    background-color: color(black);
    border: 0.2rem inset color(white);
    color: color(white);
    height: 100%;
    margin: 0.2rem;
    position: relative;
    text-decoration: underline;
    top: 0;
    transition: all linear 0.25s;
    width: 100%;
    z-index: 9999;

    @include myBreakpoints(md) {
      left: 0.3rem;
      position: absolute;
      top: 0.3rem;
    }
  }
}
