/**
 * Skip to main Navigation Component
 */

.c-skiplink {
  background-color: color(black);
  color: color(white) !important;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include myBreakpoints(md) {
    display: inline-block;
    height: 0.1rem;
    left: -1000rem;
    position: absolute;
    top: auto;
    width: 0.1rem;
  }

  &:not(:focus):not(:active) {
    @include myBreakpoints(md) {
      top: -6rem;
    }
  }

  &:focus,
  &:active,
  &.is-focused {
    background-color: color(black);
    border: 0.2rem inset color(white);
    color: color(white);
    display: block;
    height: auto;
    margin: 0.2rem;
    text-decoration: underline;
    width: auto;
    z-index: 9999;

    @include myBreakpoints(md) {
      left: 0.3rem;
      position: absolute;
      top: 0.3rem;
      transition: top 0.2s linear;
    }
  }
}
